{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

{#    <h1>{% trans "Password Reset" %}</h1>#}
{#    {% if user.is_authenticated %}#}
{#    {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{##}
{#    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>#}
{##}
{#    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>#}

        <div class="main" >
          <div class="container" style="position: fixed; top: 10%; left: 30%; width: auto">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3>Forgot Your Password?</h3>
                  </div>
                      <div class="panel-body" style="padding: 30px">

                          <!-- BEGIN SIDEBAR & CONTENT -->
                            <div class="row margin-bottom-40">


                              <!-- BEGIN CONTENT -->
                              <div class="">

                                  <p>{% trans "Forgotten your password? "%}</p>
                                  <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                <div class="content-form-page">
                                  <div class="row">
                                    <div class="">
                                      <form class="form-horizontal form-without-legend password_reset" role="form" method="POST" action="{% url 'account_reset_password' %}">
                                          {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.email.error }}
                                          <label for="email" class="col-lg-4 control-label">Email</label>
                                          <div class="col-lg-8">
                                              {{ form.email }}
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                                            <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}">
                                              <a type="button" href="/accounts/login/" class="btn btn-default">{% trans "Back to Log in" %}</a>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                    {#                <div class="col-md-4 col-sm-4 pull-right">#}
                    {#                  <div class="form-info">#}
                    {#                    <h2><em>Important</em> Information</h2>#}
                    {#                    <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>#}
                    {##}
                    {#                    <button type="button" class="btn btn-default">More details</button>#}
                    {#                  </div>#}
                    {#                </div>#}
                                  </div>
                                </div>
                              </div>
                              <!-- END CONTENT -->
                            </div>
                            <!-- END SIDEBAR & CONTENT -->

                      </div>
              </div>
          </div>
        </div>


{#    <div class="main">#}
{#      <div class="container" style="position: fixed; top: 30%; left: 30%">#}
{##}
{#        <!-- BEGIN SIDEBAR & CONTENT -->#}
{#        <div class="row margin-bottom-40">#}
{##}
{##}
{#          <!-- BEGIN CONTENT -->#}
{#          <div class="col-md-9 col-sm-9">#}
{#            <h1>Forgot Your Password?</h1>#}
{#              <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>#}
{#            <div class="content-form-page">#}
{#              <div class="row">#}
{#                <div class="col-md-7 col-sm-7">#}
{#                  <form class="form-horizontal form-without-legend password_reset" role="form" method="POST" action="{% url 'account_reset_password' %}">#}
{#                      {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        {{ form.email.error }}#}
{#                      <label for="email" class="col-lg-4 control-label">Email</label>#}
{#                      <div class="col-lg-8">#}
{#                          {{ form.email }}#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">#}
{#                        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}">#}
{#                          <a type="button" href="/accounts/login/" class="btn btn-default">{% trans "Back to Log in" %}</a>#}
{#                      </div>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
{#                <div class="col-md-4 col-sm-4 pull-right">#}
{#                  <div class="form-info">#}
{#                    <h2><em>Important</em> Information</h2>#}
{#                    <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>#}
{##}
{#                    <button type="button" class="btn btn-default">More details</button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- END CONTENT -->#}
{#        </div>#}
{#        <!-- END SIDEBAR & CONTENT -->#}
{#      </div>#}
{#    </div>#}


    <script>
        $(document).ready(function() {
            $("#id_email").addClass("form-control");
        });
    </script>

{% endblock %}
