{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% include "navbar-m.html" %}

  <!-- Services block BEGIN -->
  <div class="services-block content content-center" id="services">
    <div class="container">
      <h2>Our <strong>services</strong></h2>
      <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-heart"></i>
          <h3>Fantastic Support</h3>
          <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-mobile"></i>
          <h3>Mobile Solutions</h3>
          <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-signal"></i>
          <h3>Market Analysis</h3>
          <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 item">
          <i class="fa fa-camera"></i>
          <h3>Photography</h3>
          <p>Lorem ipsum et dolor amet<br> consectetuer diam</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Services block END -->
  <!-- Message block BEGIN -->
  <div class="message-block content content-center valign-center" id="message-block">
    <div class="valign-center-elem">
      <h2>The details are not the details <strong>They make the design</strong></h2>
      <em>KEEN THEMES</em>
    </div>
  </div>
  <!-- Message block END -->
  <!-- Team block BEGIN -->
  <div class="team-block content content-center margin-bottom-40" id="team">
    <div class="container">
      <h2 class="margin-bottom-50">Top <strong>Students</strong></h2>
      <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
      <div class="row">
        <div class="col-md-4 item">
          <img src="{% static "assets/img/top_students/st1.jpg" %}" alt="Marcus Doe" class="img-responsive">
          <h3>Marcus Doe</h3>
          <em>Founder</em>
          <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="col-md-4 item">
          <img src="{% static "assets/img/top_students/st2.jpg" %}" alt="Elena Taylor" class="img-responsive">
          <h3>Elena Taylor</h3>
          <em>Designer</em>
          <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
        <div class="col-md-4 item">
          <img src="{% static "assets/img/top_students/st3.jpg" %}" alt="Cris Nilson" class="img-responsive">
          <h3>Cris Nilson</h3>
          <em>Developer</em>
          <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
          <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team block END -->
  <!-- Portfolio block BEGIN -->
  <div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
      <h2>HOW <strong>NEXUSTARS</strong> WORKS</h2>
    </div>
    <div class="row">
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/ambassador.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/coach.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/consultant.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/movein.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/test_prep.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/tutor1.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/ambassador.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/consultant.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/coach.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/movein.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/tutor1.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/test_prep.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/ambassador.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/coach.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/consultant.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/movein.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/ambassador.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/consultant.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/coach.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/movein.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/test_prep.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/tutor1.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
      <div class="item col-md-2 col-sm-6 col-xs-12">
        <img src="{% static "assets/img/workimg/ambassador.jpg" %}" alt="NAME" class="img-responsive">
        <a href="{% static "assets/img/workimg/coach.jpg" %}" class="zoom valign-center">
          <div class="valign-center-elem">
            <strong>London City Project</strong>
            <em>Property</em>
            <b>Details</b>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Portfolio block END -->
  <!-- Choose us block BEGIN -->
  <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
    <div class="container">
      <h2>Why to <strong>choose us</strong></h2>
      <h4>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetuer adipiscing</a> elit, sed diam nonummy<br> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h4>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
          <img src="{% static "assets/img/index_page/Female college students holding books.jpg" %}" alt="Why to choose us" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
          <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Lorem ipsum dolor sit amet</a>
                </h5>
              </div>
              <div id="accordion1_1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Consectetur adipisicing elit</a>
                </h5>
              </div>
              <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Augue assum anteposuerit dolore</a>
                </h5>
              </div>
              <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Sollemnes in futurum</a>
                </h5>
              </div>
              <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">Nostrud Tempor veniam</a>
                </h5>
              </div>
              <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">Ut enem magana sed dolore</a>
                </h5>
              </div>
              <div id="accordion1_6" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Choose us block END -->
  <!-- Checkout block BEGIN -->
  <div class="checkout-block content">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h2>CHECK OUT ADMIN THEME! <em>Most Full Featured &amp; Powerfull Admin Theme</em></h2>
        </div>
        <div class="col-md-2 text-right">
          <a href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin&amp;page=index.html" target="_blank" class="btn btn-primary">Live preview</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Checkout block END -->
  <!-- Facts block BEGIN -->
  <div class="facts-block content content-center" id="facts-block">
    <h2>Some facts about us</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>39</strong>
            Projects Completed
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>14</strong>
            Team Members
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>29k+</strong>
            Products Sold
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="item">
            <strong>500</strong>
            Weekly Sales
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facts block END -->
  <!-- Prices block BEGIN -->
  <div class="prices-block content content-center" id="prices">
    <div class="container">
      <h2 class="margin-bottom-50"><strong>Pricing</strong> Tables</h2>
      <div class="row">
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>Beginner</h3>
              <p>Lorem ipsum dolor</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>$<em>19</em></strong>
                <p>Per Month</p>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>Pro</h3>
              <p>Lorem ipsum dolor</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>$<em>25</em></strong>
                <p>Per Month</p>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>Expert</h3>
              <p>Lorem ipsum dolor</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>$<em>59</em></strong>
                <p>Per Month</p>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
        <!-- Pricing item BEGIN -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="pricing-item">
            <div class="pricing-head">
              <h3>Hi-Tech</h3>
              <p>Lorem ipsum dolor</p>
            </div>
            <div class="pricing-content">
              <div class="pi-price">
                <strong>$<em>98</em></strong>
                <p>Per Month</p>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
                <li><i class="fa fa-circle"></i> Lorem ipsum dolor</li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a class="btn btn-default" href="javascript:void(0);">Sign Up</a>
            </div>
          </div>
        </div>
        <!-- Pricing item END -->
      </div>
    </div>
  </div>
  <!-- Prices block END -->
  <!-- Testimonials block BEGIN -->
  <div class="testimonials-block content content-center margin-bottom-65">
    <div class="container">
      <h2>Customer <strong>testimonials</strong></h2>
      <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
      <div class="carousel slide" data-ride="carousel" id="testimonials-block">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <!-- Carousel items -->
          <div class="active item">
            <blockquote>
              <p>This is the most awesome, full featured, easy, costomizeble theme. It’s extremely responsive and very helpful to all suggestions.</p>
            </blockquote>
            <span class="testimonials-name">Mark Doe</span>
          </div>
          <!-- Carousel items -->
          <div class="item">
            <blockquote>
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
            </blockquote>
            <span class="testimonials-name">Joe Smith</span>
          </div>
          <!-- Carousel items -->
          <div class="item">
            <blockquote>
              <p>Williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
            </blockquote>
            <span class="testimonials-name">Linda Adams</span>
          </div>
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
          <li data-target="#testimonials-block" data-slide-to="1"></li>
          <li data-target="#testimonials-block" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- Testimonials block END -->
  <!-- Partners block BEGIN -->
  <div class="partners-block">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/cisco.png" %}" alt="cisco">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/walmart.png" %}" alt="walmart">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/gamescast.png" %}" alt="gamescast">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/spinwokrx.png" %}" alt="spinwokrx">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/ngreen.png" %}" alt="ngreen">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img src="{% static "assets/img/partners/vimeo.png" %}" alt="vimeo">
        </div>
      </div>
    </div>
  </div>
  <!-- Partners block END -->
  <!-- BEGIN PRE-FOOTER -->
  <div class="pre-footer" id="contact">
    <div class="container">
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo consequat. </p>
          <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->
        <!-- BEGIN TWITTER BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2 class="margin-bottom-0">Latest Tweets</h2>
          <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="1" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @keenthemes...</a>
        </div>
        <!-- END TWITTER BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <!-- BEGIN BOTTOM CONTACTS -->
          <h2>Our Contacts</h2>
          <address class="margin-bottom-20">
            35, Lorem Lis Street, Park Ave<br>
            California, US<br>
            Phone: 300 323 3456<br>
            Fax: 300 323 1456<br>
            Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
            Skype: <a href="skype:metronic">metronic</a>
          </address>
          <!-- END BOTTOM CONTACTS -->
          <div class="pre-footer-subscribe-box">
            <h2>Newsletter</h2>
            <form action="javascript:void(0);">
              <div class="input-group">
                <input type="text" placeholder="youremail@mail.com" class="form-control">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PRE-FOOTER -->

  <a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
  <!--[if lt IE 9]>

{% include "footer-m.html" %}

{% endblock %}