{% load i18n %}

  <div class="header header-mobi-ext fixNav" >
    <div class="container-fluid">
      <div class="row">

{#            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>#}
        <div class="col-md-12">
            <div class="col-md-6 pull-left">
              <ul class="header-navigation">
                <li><i class="fa fa-phone"></i><span>1-888-726-0666 US , 15317823261 CN</span></li>
                <li><i class="fa fa-envelope-o"></i><span>service@nexustars.com</span></li>
              </ul>
            </div>
            <div class="col-md-6 pull-right">
                <ul class="header-navigation">
                    <li><a href="/checkuser/">Main</a></li>
                      {% if user.is_authenticated %}
                            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                            <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">{% trans 'Sign In' %}</a></li>
                            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                      {% endif %}
                    <li><a href="/language">Chinease</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>



